.header {
    display: flex;
    justify-content: space-between;
}

.header__title {
    font-size: 36px;
}

.header__refresh {
    outline: none;
    border: none;
    background: #dae2ea;
    color: #55677d;
    padding: 0 3rem;
    line-height: 1;
    border-radius: 5px;
}
