.header {
    display: flex;
    justify-content: space-between;
}

.header__title {
    margin:0;
    font-size: 36px;
}

.header__refresh {
    cursor: pointer;
    outline: none;
    border: none;
    background: #dae2ea;
    border-radius: 5px;
    padding: 0 3rem;
}

.header__refresh::before {
    content: 'Обновить геолокацию';
    line-height: 1;
    color: #55677d;
}

@media only screen and (max-width: 799px) {
    .header__refresh {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header__refresh::before {
        content: '';
        height: 32px;
        width: 32px;
        background: url('../img/refresh.png');
        background-size: contain;
    }
}
