.stats {
    list-style-type: none;
    padding:0;
    margin: 0;
}
.stats_block {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #a7afb1;
    border-radius: 5px;
    margin: 0;
}
.stats_block:not(:first-child) {
    margin-top: 10px;
}
.stats_block__title {
    font-weight: bold;
}

.stats_block__title, .stats_block__text {
    color: #fff;
    font-size: 14px;
}
